@model Department
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Department Details</h1>

<div class="mb-3">
    <label asp-for="Code" class="form-label"></label>
    <input asp-for="Code" class="form-control" placeholder="123" readonly />
</div>

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" placeholder="HR" readonly />
</div>

<div class="mb-3">
    <label asp-for="DateOfCreathion" class="form-label"></label>
    <input asp-for="DateOfCreathion" class="form-control" placeholder="04/10/2023 03:26 PM"
           readonly />
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-dark">Back</a> 